.contato-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    width: auto;
}

.link-style{
    margin-left: 10px;
    padding: 0 5px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    transition: 400ms;

    
    
}

.contato-cont{
    padding: 50px 0;
    margin-left: 10px;
}

.link-style::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);  
    opacity: 1;
    transition: width 400ms;
    border-radius: 10px;
    z-index: -1;
}

.contato-box:hover a::before{
    width: 100%;
}

.contato-box:hover a{
    color: black;
}




.contato-box img{
    height: 50px;
}

.contato-boxes{
    display: flex;
    flex-direction: column;
    

}

.contato-boxes-2{
    width: 100%;
    
}

.contato-box-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    background-color: var(--cor-topo);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 0;
    display: none;
}

.contato-box-2 img{
    width: 70px;
}

.contato-box-2 p {
    
    color: white;
    padding-left: 10px;
    font-size: 25px;
    margin: 0;
}

@media(max-width:650px){
    .link-style{
        font-size: 15px;
    }

    .contato-cont{
        margin: 0;
    }

    .link-style{
        background-color: white;
        color: black;
        border-radius: 10px;
    }

    .link-style::before{
        width: unset;
    }

    .contato-box-2{
        display:flex;
    }

    .contato-box{
        display: none;
    }

}