footer{
    padding: 30px 0;
    height: 200px;
    background-color: var(--cor-fundo-2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.barra{
    border-bottom: 2px solid white;
    width: 80%;
}

footer a{
    color: blue;
    text-decoration: none;
}