.secao-pagina-projetos{
    background-color: rgb(57, 64, 80);
    padding: 100px 0;
}

.pagina-projetos-boxes-projetos{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start ;
    width: 940px;
    margin: 0 auto;
    width: 95 0px;
    
    gap: 20px;
}

.pagina-projeto-center{
}



.pp-box{
    height: 400px;
    width: 300px;
    position: relative;

    transition: 800ms;
    bottom: 0;
    
}

.pp-box:hover{
    bottom: 10px;
}

@media(max-width:1000px){
    .pp-box{
        width: 90%;
        margin: 20px 0;
    }

    .pp-box:hover{
        bottom: unset;
    }

    .pagina-projetos-boxes-projetos{
        justify-content: center;
        width: auto;
        
    }
}