.secao-pagina-projetos{
    background-color: var(--cor-fundo-1);
    padding: 100px 0;
}


.pagina-projetos-boxes-projetos{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start ;
    width: 940px;
    margin: 0 auto;
    width: 95 0px;
    gap: 20px;
}

.secao-projetos{
    background-color: var(--cor-fundo-2);
    padding: 40px 0;
}

.pp-box{
    height: 400px;
    width: 300px;
    position: relative;
    transition: 800ms;
    bottom: 0;
    margin: 20px auto;
}

.espaco{
  height: 100px;
}

.carrosel-container{
  max-width: 1024px;
  margin: 0 auto;
}

.pp-box:hover{
    bottom: 10px;
}

@media(max-width:1000px){
    .pp-box{
        width: 300px;
        margin: 20px auto;
    }

    .pp-box:hover{
        bottom: unset;
    }

    .pagina-projetos-boxes-projetos{
        justify-content: center;
        width: auto;
        
    }
}

@media(max-width:680px){
  .pp-box{
    height: 400px;
    width: 90%;
    position: relative;
    transition: 800ms;
    bottom: 0;
    margin: 20px auto;
}
}