.App {
  text-align: center;
}

*{
  
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins';
}

.limita-secao{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.secao-topo{
  text-align: left;
  line-height: 10px;
  padding-top: 20px;
  color: white;
}

.secao-topo p {
  line-height: 30px;
}
