.App {
  text-align: center;
}

:root{
  --cor-fundo-1: rgb(57, 64, 80);
  --cor-fundo-2: rgb(34, 38, 48);
  --cor-topo:rgb(43, 48, 56);
}

*{
  
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins';
}

.limita-secao{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  
}



.blue{
  color: rgb(62, 241, 247);
}

.green{
  color:rgb(35, 206, 1);
  
}


